.menu_wrapper{
    width: 96%;
    border: 1px solid gray;
}
 *{padding: 0;
    margin:0;}
.topper{
    padding: 2%;
    width: 96%;
    height: 100px;
    overflow: hidden;
    border-bottom: 1px solid gray;
}
 
 
.left_col,.second_col,.three_col,.four_col,.five_col{
    float: left;
    width: 19.8%;
    height: 300px;
    border-right: 1px solid gray;
   
}
 
.bottom{
    clear:both;
    padding: 2%;
    width: 96%;
    height: 60px;
    border-top: 1px solid gray;
}
h5{
   text-align: center;
}
.nav{
    text-align: right;
    float: right;
    list-style: none;
    padding-left: 15px;
}

.menu_entrees{
    margin-top: 2px;
}
.menu_entrees li{
    list-style-type: none;
    padding-left: 10px;
}


.menu_list{
    padding-bottom: 15px;
}

.menu_list li{
    display: inline;
    list-style-type: none;
    padding-left: 15px;
}
  
.meat{
    background-color: "#000000";   
}
  
.hamburger{
    color: "#000000";  
}
  
.fish{
    color: "#000000"; 
}
   
.tofu{
    color: "#00FF00";  
}
  
.portobello{
    color: "#00FF00"; 
}

.veg_leaf{
    list-style-image:url("./1.png");
} 
